* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #00B100;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    max-width: 500px;
    color: #333;
}

.header {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

h1 {
    font-size: 20px;
    color: #000; /* Texto preto */
}

.images {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.image-box {
    width: 45%;
}

.image-box img {
    width: 100%;
    border-radius: 5px;
}

.highlight-text {
    font-size: 16px;
    margin: 20px 0;
    color: #fff; /* Texto branco */
    font-weight: bold; /* Negrito */
}

.button {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 15px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
